@import url("fonts.css");
@import url("reset.css");

body {
    font-family: Arial, Tahoma, sans-serif;
    font-size: 14px;
}

#container {
    margin: 0 auto;
}

.wrap {
    margin: 0 auto;
}

.header {
    border-bottom: 1px solid #bfbfbf;
    box-shadow: 0 0 3px #dbdbdb;
    padding-top: 6px;
}

.header .wrap {
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
}

@media (max-width: 530px) {
    .header .wrap {
        flex-direction: column;
        padding: 0 3px;
        margin-bottom: 5px;
    }
    
    .header #socials {
        margin-left: 5px;
    }
    
    .header #socials a:last-child {
        margin-right: 2px;;
    }
}

.header .header_left {
    align-self: center;
}

.header .header_right {
    display: flex;
    justify-content: space-between;
}

.header #topmenu {
    color: #8e8e8e;
    padding-top: 8px;
}

.header #topmenu a {
    color: #8e8e8e;
    text-decoration: none;
}

.header #topmenu a:hover {
    color: #dd5555;
}

#socials {
    display: flex;
    margin-left: 20px;
}

#socials a {
    margin-top: 9px;
    margin-right: 17px;
}

#socials .twitter {
    background: url("../images/twitter.png") no-repeat;
    height: 11px;
    width: 13px;
}

#socials .twitter:hover {
    background-position: -13px;
}

#socials .vimeo {
    background: url("../images/vimeo.png") no-repeat;
    height: 11px;
    width: 13px;
}

#socials .vimeo:hover {
    background-position: -13px;
}

#socials .facebook {
    background: url("../images/facebook.png") no-repeat;
    height: 13px;
    width: 7px;
}

#socials .facebook:hover {
    background-position: -7px;
}

#socials .instagram {
    background: url("../images/instagram.png") no-repeat;
    height: 12px;
    width: 12px;
}

#socials .instagram:hover {
    background-position: -12px;
}

#socials .dribbble {
    background: url("../images/dribbble.png") no-repeat;
    height: 13px;
    width: 13px;
}

#socials .dribbble:hover {
    background-position: -13px;
}

#socials .reddit {
    background: url("../images/reddit.png") no-repeat;
    height: 12px;
    width: 13px;
}

#socials .reddit:hover {
    background-position: -13px;
}

#content {
    background-color: #e9e9e9;
    padding: 20px 0;
}

#content .wrap {
    padding: 0 15px;
}

#content .wrap nav {
    border-bottom: 1px solid #bfbfbf;
    display: flex;
    justify-content: space-between;
}

@media (max-width: 680px) {
    #content .wrap nav {
        flex-direction: column;
    }
    
    .search {
        margin-bottom: 15px;
        width: 100%;
    }
    
    .search input[type="text"] {
        width: 100% !important;
    }
}

#content .wrap #menu > ul {
    display: flex;
    flex-wrap: wrap;
}

#content .wrap #menu ul li {
    margin-right: 20px;
}

#content .wrap #menu ul a {
    color: #3f3f3f;
    display: inline-block;
    font-weight: bold;
    padding-bottom: 15px;
    text-decoration: none;
}

#content .wrap #menu ul a:hover {
    border-bottom: 1px solid #dd5555;
    color: #dd5555;
    padding-bottom: 14px;
}
    
#content .wrap #menu ul .submenu {
    position: relative;
}

#content .wrap #menu ul .submenu > a {
    background: url("../images/triangle.png") no-repeat right 20%;
    padding-right: 10px;
}

#content .wrap #menu ul .submenu:hover ul {
    display: block;
}

#content .wrap #menu ul .submenu ul {
    background-color: #f9f9f9;
    border: 1px solid #bfbfbf;
    border-radius: 2px;
    box-shadow: 0 0 5px #dadada;
    display: none;
    position: absolute;
    left: 0;
    top: 20px;
    width: 200px;
    z-index: 10;
}

#content .wrap #menu ul .submenu ul li {
    margin-right: 0;
}

#content .wrap #menu ul .submenu ul a {
    display: block;
    font-weight: normal;
    padding: 15px;
}

#content .wrap #menu ul .submenu ul a:hover {
    background-color: #dd5555;
    color: #fff;
}

.search {
    margin-top: -10px;
    position: relative;
}

.search input[type="text"] {
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 2px;
    color: #555;
    margin-right: -30px;
    padding: 7px 0 7px 7px;
    width: 100%;
}

.search input[type="image"] {
    position: absolute;
    top: 8px;
    right: -1px;
}

#content h1 {
    color: #3f3f3f;
    font-family: rsl;
    font-size: 220%;
    margin-top: 30px;
    text-align: center;
}

#content h1 span {
    font-family: rsr;
}

#content .subtitle {
    color: #848484;
    font-family: rsl;
    font-size: 130%;
    margin-top: 15px;
    text-align: center;
}

#content #gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;
}

#content #gallery .element {
    background-color: #f9f9f9;
    border: 1px solid #bfbfbf;
    box-shadow: 0 0 3px #dadada;
    margin: 15px 0;
    position: relative;
    width: 23%;
}

@media (max-width: 980px) {
    #content #gallery .element {
        width: 32%;
    }
}

@media (max-width: 700px) {
    #content #gallery .element {
        width: 48%;
    }
}

@media (max-width: 420px) {
    #content #gallery .element {
        margin: 15px auto;
        width: 90%;
    }
}

#content #gallery .element .top {
    position: relative;
}

#content #gallery .element .top:hover:before {
    background-color: rgba(0, 0, 0, 0.3);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 5;
}

#content #gallery .element .top:hover .social {
    display: block;
}

#content #gallery .element .top .social {
    display: none;
    left: 10px;
    position: absolute;
    top: 10px;
    z-index: 10;
}

#content #gallery .element .top .social p {
    background-color: #fcf7f6;
    border-radius: 3px;
    color: #555555;
    display: inline-block;
    padding: 6px 8px;
}

#content #gallery .element .top .social .download {
    background: url("../images/download.png") no-repeat left center;
    padding-left: 25px;
}

#content #gallery .element .top .social .like {
    background: url("../images/like.png") no-repeat left center;
    padding-left: 25px;
}

#content #gallery .element .top img {
    width: 100%;
}

#content #gallery .element .bottom {
    padding: 15px;
}

#content #gallery .element .bottom a {
    color: #555;
    font-size: 110%;
    font-weight: bold;
    text-decoration: none;
}

#content #gallery .element .bottom a:hover {
    color: #dd5555;
}

#content #gallery .element .bottom .date {
    color: #b0afae;
    font-size: 80%;
    margin: 8px 0;
}

#content #gallery .element .bottom .intro {
    color: #848484;
    font-size: 100%;
    line-height: 120%;
    margin: 8px 0;
}

#content #pagination {
    margin: 25px 0;
}

#content #pagination ul {
    display: flex;
    justify-content: center;
}

#content #pagination ul li {
    margin: 0 4px;
}

#content #pagination ul a {
    border: 2px solid #cdcdcd;
    border-radius: 50%;
    font-size: 110%;
    color: #848484;
    display: inline-block;
    padding: 8px 0;
    text-align: center;
    text-decoration: none;
    width: 32px;
}

#content #pagination ul li.active a {
    border-color: #dd5555;
}

#content #pagination ul li.active a, #content #pagination ul a:hover {
    color: #dd5555;
}

#content #pagination ul span {
    color: #848484;
    display: inline-block;
    padding-top: 20px;
}

@media (max-width: 640px) {
    #content #pagination ul a {
        padding: 5px 0;
        width: 24px;
    }
    #content #pagination ul span {
        padding-top: 15px;
    }
}

#content .banner {
    text-align: center;
}

#content .banner a {
    background-color: #fff;
    border: 1px solid #bfbfbf;
    box-shadow: 0 0 3px #dadada;
    display: inline-block;
    padding: 10px;
}

#content .banner img {
    max-width: 100%;
}

#footer {
    background-color: #f9f9f9;
    border-top: 1px solid #bfbfbf;
    box-shadow: 0 0 5px #dadada;
    padding: 15px 0;
}

#footer .wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 15px;
}

#footer .left {
    width: 30%;
}

#footer .left p {
    color: #848484;
    line-height: 140%;
}

#footer .center {
    display: flex;
    justify-content: space-between;
    margin: 0 20px;
}

#footer .menu p, #footer .social p {
    color: #555;
    font-weight: bold;
    margin: 15px 0;
}

#footer .menu ul li, #footer .social li {
    margin: 10px 0;
}

#footer .menu ul li a, #footer .social ul li a {
    color: #848484;
    text-decoration: none;
}

#footer .menu ul li a:hover, #footer .social ul li a:hover {
    color: #dd5555;
}

#footer .social li {
    padding-left: 20px;
    position: relative;
}

#footer .social li:before {
    content: "";
    display: block;
    left: 0;
    position: absolute;
    top: 20%;
}

#footer .social li.twitter:before {
    background: url("../images/twitter.png") no-repeat;
    height: 11px;
    width: 13px;
}

#footer .social li.twitter:hover:before {
    background-position: -13px;
}

#footer .social li.vimeo:before {
    background: url("../images/vimeo.png") no-repeat;
    height: 11px;
    width: 13px;
}

#footer .social li.vimeo:hover:before {
    background-position: -13px;
}

#footer .social li.facebook:before {
    background: url("../images/facebook.png") no-repeat;
    height: 13px;
    width: 7px;
}

#footer .social li.facebook:hover:before {
    background-position: -7px;
}

#footer .social li.instagram:before {
    background: url("../images/instagram.png") no-repeat;
    height: 12px;
    width: 12px;
}

#footer .social li.instagram:hover:before {
    background-position: -12px;
}

#footer .social li.dribbble:before {
    background: url("../images/dribbble.png") no-repeat;
    height: 13px;
    width: 13px;
}

#footer .social li.dribbble:hover:before {
    background-position: -13px;
}

#footer .social li.reddit:before {
    background: url("../images/reddit.png") no-repeat;
    height: 12px;
    width: 13px;
}

#footer .social li.reddit:hover:before {
    background-position: -13px;
}

#footer .right {
    width: 30%;
}

#footer .wrap .right img {
    max-width: 100%;
}

@media (max-width: 880px) {
    #footer .left {
        margin-bottom: 15px;
        width: 100%;
    }
    
    #footer .menu {
        margin-right: 50px;
    }
    
    #footer .right {
        width: 350px;
    }
}

@media (max-width: 727px) {
    #footer .center {
        justify-content: center;
        width: 100%;
    }
    
    #footer .right {
        margin: 10px auto 0;
    }
}

@media (max-width: 400px) {
    #footer .menu {
        margin-right: 20px;
    }
}

#footer_bottom {
    border-top: 1px solid #bfbfbf;
    box-shadow: 0 0 3px #e9e9e9;
    padding: 15px 0;
}

#footer_bottom .wrap {
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
}

#footer_bottom .wrap .left {
    display: flex;
    flex-wrap: wrap;
}

#footer_bottom .wrap .left p {
    color: #979797;
    font-size: 90%;
}

#footer_bottom .wrap .left .menu {
    margin-left: 10px;
}

#footer_bottom .wrap .left .menu a {
    color: #8e8e8e;
    font-weight: bold;
    text-decoration: none;
}

#footer_bottom .wrap .left .menu a:hover {
    color: #dd5555;
}

#footer_bottom .wrap .left .menu span {
    color: #8e8e8e;
    margin: 0 5px;
}

#footer_bottom .wrap .right {
    color: #8e8e8e;
}

#footer_bottom .wrap .right a {
    color: #dd5555;
    font-weight: bold;
    text-decoration: none;
}

@media (max-width: 640px) {
    #footer_bottom  {
        text-align: center;
    }
    
    #footer_bottom .wrap {
        flex-direction: column;
    }
    
    #footer_bottom .wrap .left {
        justify-content: center;
        margin-bottom: 10px;
    }
}

@media (max-width: 453px) {
    #footer_bottom .wrap .left .menu {
        margin-top: 10px;
    }
    
}